{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Django Girls blog</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Galada|Mirza|Poiret+One" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css" />
		<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
	</head>
	<body>
		<header>
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="top-menu"><span class="icon-add">+</span></a>
			{% endif %}
			<h1><a href="/" title="Home">Django Girls blog</a></h1>
		</header>
		<section>
		{% block content %}
		{% endblock %}
		</section>
	</body>
</html>